body {
	padding:0px;
	background-color: #2e2e2e;
	color: white;
}
.container {
	width:1324px;
	height:628px;
	margin:50px auto;
	overflow: hidden;
}
.container .sliders {
	float:left;
	width:200px;

}
.container .sliders label{
	display: block;
}
.container .tiltshift {
	float:left;
	width:1024px;
	height:682px;
	background: url("lisbon-from-above.jpg") no-repeat;
	-webkit-box-shadow: 5px 5px 4px rbga(0,0,0,1);
}
.container .tiltshift img {
	background-size: cover;
	
}

